<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body x-data="language">
    <main class="container">
        <nav>
            <ul>
                <li x-data="darkMode">
                    <span x-text="$t('mainHtml.light')"></span>
                    <input type="checkbox" role="switch" x-model="dark">
                    <span x-text="$t('mainHtml.dark')"></span>
                </li>
                <li>
                    <span x-text="$t('mainHtml.english')"></span>
                    <input type="checkbox" role="switch" x-model="_language" @change="toggle">
                    <span x-text="$t('mainHtml.hebrew')"></span>
                </li>
            </ul>
            <ul>
                <li><strong x-text="$t('mainHtml.titel')"></strong></li>
            </ul>
            <ul x-data="user">
                <li>
                    <a href="/" x-text="$t('mainHtml.home')" aria-label="$t('mainHtml.home')"></a>
                </li>
                <li>
                    <a href="/#Help" x-text="$t('mainHtml.help')" aria-label="$t('mainHtml.help')"></a>
                </li>
                <li x-show="login"><a @click="$signOut" href="#" x-text="$t('mainHtml.logout')"
                        aria-label="$t('mainHtml.logout')"></a>
                </li>
                <li x-show="!login"> <a @click="$login" href="#" x-text="$t('mainHtml.login')"
                        aria-label="$t('mainHtml.login')"></a>
                </li>
                <li x-show="login">
                    <a @click="$getApiKey" href="#" x-text="$t('mainHtml.apikey')"
                        x-bind:data-tooltip="$ApiKeyTooltip? $t('mainHtml.apiKeyCopy'):false"></a>
                </li>
                <li x-data="notification">
                    <a x-bind:style="$NotificationColorStatus" @click="requesting_permission" href="#"
                        x-text="$t('mainHtml.Notification')" aria-label="$t('mainHtml.notification')"></a>
                </li>
            </ul>
        </nav>

        <figure x-data="messages" x-show="$isLogin">
            <table>
                <tr>
                    <th x-text="$t('massageTabel.timecreate')"></th>
                    <th x-text="$t('massageTabel.title')"></th>
                    <th x-text="$t('massageTabel.body')"></th>
                    <th x-text="$t('massageTabel.delete')"></th>
                </tr>
                <a x-show="arrayMessages.length > 0" style="color: red;" x-on:click="deleteAllMessages()"
                    x-text="$t('massageTabel.deleteAll')">
                </a>
                <template x-for="message in arrayMessages">
                    <tr>
                        <td x-text="message.TimeCreate"></td>
                        <td x-text="message.title"></td>
                        <template x-if="message.title==='New google api permission'">
                            <a :href="message.body" x-text="message.body"></a>
                        </template>
                        <template x-if="message.title!=='New google api permission'">
                            <td x-text="message.body"></td>
                        </template>
                        <td x-on:click="deleteMessages(message.id)" x-text="$t('massageTabel.delete')"></td>
                    </tr>
                </template>
            </table>
        </figure>
    </main>
</body>

</html>